body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}

table {
    border-collapse: collapse;
}

.top-bar {
    color: white;
    background-color: Dodgerblue;
    height: 56px;
    font-size: 24px;
}

.top-app-bar__row {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.top-app-bar__title {
    /*font-weight: bold;*/
    vertical-align: top;
}

.top-app-bar_section--align-center {
    flex: 50%;
    max-width: 50%;
}

.top-app-bar__search-bar {
    width: 100%;
    background-color: white;
    font-size: 24px;
    border: none;
    padding: 5px;
}

.top-app-bar__action-item, .top-app-bar__navigation-icon {
    font-size: 24px;
    color: white;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

input[type="number"] {
    max-width: 70px;
}

input[type="number"], input[type="submit"] {
    line-height: 25px;
    font-size: 16px;
    padding: 5px;
    padding-left: 20px;
    margin: 5px;
    margin-bottom: 20px;
}

input[type="submit"]:hover, input[type="submit"]:active {
    background-color: #0073e6;
    color: white;
}

input[type="submit"] {
    padding-right: 20px;
    border: 2.5px solid #0073e6;
    background-color: white;
    color: #0073e6;
    text-align: center;
    margin: 20px;
}

.top-app-bar__action-item {
    border-radius: 50%;
    padding: 2.5px;
}

.top-app-bar__action-item::after {
    content: " " attr(aria-label);
    font-size: 24px;
    font-family: Roboto, sans-serif;
    vertical-align: top;
}

.top-app-bar__navigation-icon {
    border-radius: 50%;
    padding: 2.5px;
}

.top-app-bar__icon-active {
    background-color: rgba(211, 211, 211, 0.7);
}

.top-app-bar__section {
    margin: 16px;
}

.top-bar__mobile-only {
    display: none;
}

button.top-bar__mobile-only {
    display: none;
}

.content-app-cards {
    width: 100%;
/*    display: flex;
    -webkit-align-content: center;
    align-content: center;*/
}

.content-app-cards .content-app-card {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e6e6e6;
    color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 500px;
}

.notification-card {
    cursor: pointer;
}

.content-app-card__title h2 {
    font-weight: bold;
}


.cage-status-food[data-shortage=true] {
  color: #ff3300;
}
.cage-status-water[data-shortage=true] {
  color: DodgerBlue;
}

.cage-details-status-food[data-shortage=true] {
  font-weight: bold;
}
.cage-details-status-water[data-shortage=true] {
  font-weight: bold;
}

tr.cage-info-summary {
    cursor: pointer;
}
tr.cage-info-summary:hover {
    background-color: #d2cfcf;
}

.cage-details-status-water, .cage-details-status-food {
    list-style-type: none;
}

@media(max-width:575px) {
    .top-app-bar_section--align-center {
        visibility: none;
        display: none;
        width: 100%;
    }

    .top-bar__mobile-only {
        /*display: block;*/
        position: fixed;
    }

    button.top-bar__mobile-only {
        display: inline-block;
        position: relative;
    }

    .top-app-bar__dropout-menu {
        background-color: white;
        max-width: 200px;
        box-shadow: 5px 5px 5px #888888;
        color: grey;
        margin: 0px;
        top: 48px;
        right: 5px;
        float: right;
        padding: 0px;
        text-align: center;
        padding-top: 0;
        border-top: none;
    }

    .top-app-bar__dropout-menu .dropout-menu-item {
        font-size: 0.75em;
        padding: 5px;
        color: grey;
        width: 100%;
        top: 0px;
        margin: 0;
        line-height: 30px;
        border-top: none;
    }

    .top-app-bar__dropout-menu .dropout-menu-item:hover, .top-app-bar__dropout-menu .dropout-menu-item:focus {
        background-color: #d3d3d3;
    }

    .top-app-bar__dropout-menu .dropout-menu-item:active {
        background-color: #d3d3d3;
    }
    .content-app-cards .content-app-card {
        margin: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        /*margin-right: 20px;*/
    }
}

@media(max-width:1340px) {
    .top-app-bar__action-item::after {
        content: "";
    }
    .top-app-bar__action-item:active, .top-app-bar__navigation-icon:active, .top-app-bar__action-item:focus, .top-app-bar__navigation-icon:focus {
        background-color: rgba(211, 211, 211, 0.7);
    }
}

@media(max-width: 325px) {
    .top-app-bar__navigation-icon {
        padding: 0px;
    }
    .top-app-bar__action-item {
        padding: 0px;
    }
}