<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cages | IVC-monitors | Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="http://169.254.148.23/css/page_styles.css">
    <link rel="stylesheet" href="http://169.254.148.23/material/material.css">
    <link rel="stylesheet" href="http://169.254.148.23/fa/css/all.css">
    <script defer src="http://169.254.148.23/fa/js/all.js"></script>
    <script src="http://169.254.148.23/js/top_bar.js"></script>
    <style>
        tr {
            width: 100%;
        }
        td, th {
            padding: 10px;
            width: 166px;
            text-align: center;
        }
        .cage-status-food[data-shortage=true] {
          color: #ff3300;
        }
        .cage-status-water[data-shortage=true] {
          color: DodgerBlue;
        }
    </style>
</head>
<body>
    <header class="top-bar">
        <div class="top-app-bar__row">
            <section class="top-app-bar__section top-app-bar__section--align-start">
                <button class="material-icons top-app-bar__navigation-icon">home</button>
                <span class="top-app-bar__title">Cages</span>
            </section>
            <!--<section class="top-app-bar__section top-app-bar_section--align-center">
                <input class="top-app-bar__search-bar" type="search" placeholder="Look up cage details" />
            </section>-->
            <section class="top-app-bar__section top-app-bar__section--align-end">
                <!--<button class="material-icons top-app-bar__action-item" aria-label="Supply" onclick="window.location = '/cages'"><!--<i class="fas fa-clipboard-list"></i>playlist_add_check</button>-->
                <button class="material-icons top-app-bar__action-item" aria-label="Updates" onclick="window.location = '/updates'">notifications</button>
                <button class="material-icons top-app-bar__action-item" aria-label="Update status" onclick="window.location = '/refresh/all'">refresh</button>
                <button class="material-icons top-app-bar__action-item" aria-label="Settings" onclick="window.location = '/settings'">settings</button>
                <!--<button class="material-icons top-app-bar__action-item top-bar__mobile-only" id="drop-down">more_vert</button>-->
            </section>
        </div>
        <!-- Dropdown menu -->
        <!--<section class="top-app-bar__section top-app-bar__dropout-menu top-bar__mobile-only" id="dropdown-menu">
            <button class="dropout-menu-item" onclick="window.location = '/refresh/all'">Update status</button>
            <!--<button class="dropout-menu-item">Search cage</button>-->
            <!--<button class="dropout-menu-item" onclick="window.location = '/settings'">Settings</button>
        </section>-->
    </header>
    <div class="content-app-cards">
        <table class="content-app-card" style="padding:20px">
            <tr>
                <th>Cage</th>
                <th>Water</th>
                <th>Food</th>
            </tr>
            {% for cage in cages %}
               <tr class="cage-info-summary" onclick="window.location.href = '{{ url_for('cage', cage_id=cage.cage_id) }}'">
                  <td class="cage-id">{{ cage.cage_id }}</td>
                  <td class="cage-status-water" data-cage="{{ cage.cage_id }}" data-shortage="{{ cage.notif_water }}"><i class="fas fa-tint"></i></td>
                  <td class="cage-status-food" data-cage="{{ cage.cage_id }}" data-shortage="{{ cage.notif_food }}"><i class="fas fa-utensils"></i></td>
               </tr>
            {% endfor %}
        </table>
    </div>
    <script>
    var w;
    function startWorker() {
      if(typeof(Worker) !== "undefined") {
        if(typeof(w) == "undefined") {
          w = new Worker("static/cage_status_updates.js");
        }
        w.onmessage = function(event) {
          cages = event.data;
          for(cage in cages) {
            if(cages.hasOwnProperty(cage)) {
              cageStatus = document.querySelectorAll('[data-cage="' + cage + '"]');
              cageStatus[0].setAttribute("data-shortage", cages[cage].water);
              cageStatus[1].setAttribute("data-shortage", cages[cage].food);
            }
          }
        };
      } else {
        //document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Workers...";
      }
    }

    function stopWorker() {
      w.terminate();
      w = undefined;
    }
    startWorker();
    window.onbeforeunload = function(){
      stopWorker();
    };
    </script>
    <script>
        // Save scrollTop for later use.
        var scrollTop = window.scrollY;
        var d = new Date();
        var millisStart = d.getTime();
         /*document.getElementById("drop-down").addEventListener("click", () => toggleMenu());
         document.addEventListener("click", function(e) {
            console.log(e.target);
            var menu = document.getElementById("dropdown-menu");
            if(e.target != menu && e.target != document.getElementById("drop-down") && menu.style.display == "block") {
                toggleMenu();
            };
         });

         function toggleMenu() {
            menu = document.getElementById("dropdown-menu");
            dropdown = document.getElementById("drop-down");
            if(menu.style.display == "block") {
                console.log("hide");
                menu.style.display = "none";
                dropdown.classList.remove("top-app-bar__icon-active");
            } else {
                console.log(menu.style.display);
                console.log("show");
                menu.style.display = "block";
                dropdown.classList.add("top-app-bar__icon-active");
            }
         }*/

        // Show top bar when scroll up.
        document.addEventListener("scroll", () => toggleTopBarOnScroll());
        function toggleTopBarOnScroll() {
            // Set delay
            d = new Date();
            millisNow = d.getTime();
            differenceMillis = millisNow - millisStart;
            limit = 500;
            console.log(differenceMillis);
            topBar = document.getElementsByClassName("top-bar")[0];
            //dropdown = document.getElementById("drop-down");
            newScrollTop = window.scrollY;
            if(scrollTop > newScrollTop) {
                if(differenceMillis > limit) {
                    topBar.style.position = "fixed";
                    topBar.style.top = "0px";
                    topBar.style.width = "100%";
                    console.log("up");
                    millisStart = millisNow;
                }
            }/* else if(!dropdown.classList.contains("top-app-bar__icon-active")) {
               topBar.style.position = "absolute";
               topBar.style.width = "100%";
               topBar.style.top = newScrollTop;
               console.log("down");
            }*/
            if(newScrollTop == 0) {
                topBar.style.position = "";
                topBar.style.top = "";
                topBar.style.width = "";
            }
            scrollTop = newScrollTop;
        }
    </script>
</body>
</html>
